[user]
	name = Antoine Rey
	email = antoine.rey@backmarket.com

[core]
	editor = code --wait
	diff = diff-so-fancy | less --tabs=4 -RFX
	excludesfile = ~/.config/git/.gitignore

[pull]
	rebase = true

[push]
	# Do not ask for upstream when pushing for the first time.
	autoSetupRemote = true

[fetch]
	prune = true

[diff]
	noprefix = true

[color]
	ui = true

[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[diff-so-fancy]
	markEmptyLines = false

[init]
	defaultBranch = main

[commit]
	template = ~/.config/git/.git-commit.tpl
	gpgSign = true

[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
