[user]
	name = Antoine Rey
	email = antoine.rey@backmarket.com

[core]
	editor = code --wait -n
	excludesfile = ~/.config/git/.gitignore

[pull]
	rebase = true

[push]
	# Do not ask for upstream when pushing for the first time.
	autoSetupRemote = true

[fetch]
	prune = true

[diff]
	noprefix = true
	external = difft --display inline

[color]
	ui = true

[init]
	defaultBranch = main

[commit]
	template = ~/.config/git/.git-commit.tpl

[url "ssh://git@github.com/"]
  insteadOf = https://github.com/

[column]
	ui = auto

[branch]
	sort = -committerdate

[maintenance]
	repo = /Users/antoine.rey/Code/front-apps