{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
# Brew
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #

brew bundle --no-lock --file=/dev/stdin <<EOF
brew "bat"
brew "diff-so-fancy"
brew "exa"
brew "fzf"
brew "gh"
brew "git"
brew "git-lfs"
brew "go"
brew "jq"
brew "mas"
brew "n"
brew "starship"
brew "thefuck"
brew "wget"
brew "yarn"
brew "yqrashawn/goku/goku"

cask "1password"
cask "iterm2"
cask "karabiner-elements"
cask "slack"
cask "spotify"
cask "visual-studio-code"
cask "zoom"
EOF

# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
# Mac App Store
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #

mas install 1284863847 # Unsplash Wallpapers

# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
# MacOS Settings
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #

osascript -e 'tell app "System Events" to tell appearance preferences to set dark mode to true'
echo "✔ Switched to dark mode"

defaults write com.apple.finder QuitMenuItem -bool true
echo "✔ Finder may be quit"

defaults write com.apple.finder AppleShowAllFiles true
echo "✔ Dotfiles shown in Finder"

defaults write com.apple.dock tilesize -integer 24
echo "✔ Dock size configured"

defaults write com.apple.dock static-only -bool true
echo "✔ Dock now only show active applications"

defaults write -g ApplePressAndHoldEnabled -bool false
echo "✔ Long keypress action disabled"

defaults write -g InitialKeyRepeat -int 15
defaults write -g KeyRepeat -int 1
echo "✔ Key repeat rate configured"

echo ""

# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
# Applications Settings
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #

gh config set git_protocol ssh
gh config set editor "code --wait"
echo "✔ gh configured"

echo ""

# Register Goku service to launch at login.
# See: https://github.com/yqrashawn/GokuRakuJoudo#usage
brew services restart yqrashawn/goku/goku
echo "✔ goku configured"

echo ""

# Enable fzf auto-complete and key bindings.
# See: https://github.com/junegunn/fzf#using-homebrew-or-linuxbrew
$(brew --prefix)/opt/fzf/install --key-bindings --completion --update-rc
echo "✔ fzf configured"

echo ""

# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
# Teardown
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #

killall Finder
killall Dock

{{ end -}}
