<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>03A478D3-D41D-463C-9B27-4F2501B7D648</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>inbox</string>
			<key>text</key>
			<string>Open Inbox</string>
			<key>url</key>
			<string>https://inbox.google.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>0C8D3AEB-2CDA-482A-B247-9CB1630ABFBB</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>gh</string>
			<key>text</key>
			<string>Open Github</string>
			<key>url</key>
			<string>https://github.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>2835552A-3CD0-402A-810C-9387D5883C83</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>inbox</string>
			<key>text</key>
			<string>Search Inbox for '{query}'</string>
			<key>url</key>
			<string>https://inbox.google.com/search/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>354D46E3-80A3-49E4-ADF8-6BBCFBACFC1C</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>gh</string>
			<key>text</key>
			<string>Search Github for '{query}'</string>
			<key>url</key>
			<string>https://github.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
