<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>03A478D3-D41D-463C-9B27-4F2501B7D648</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>inbox</string>
			<key>text</key>
			<string>Open Inbox</string>
			<key>url</key>
			<string>https://inbox.google.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>0C8D3AEB-2CDA-482A-B247-9CB1630ABFBB</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>gh</string>
			<key>text</key>
			<string>Open Github</string>
			<key>url</key>
			<string>https://github.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>2835552A-3CD0-402A-810C-9387D5883C83</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>inbox</string>
			<key>text</key>
			<string>Search Inbox for '{query}'</string>
			<key>url</key>
			<string>https://inbox.google.com/search/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>354D46E3-80A3-49E4-ADF8-6BBCFBACFC1C</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>gh</string>
			<key>text</key>
			<string>Search Github for '{query}'</string>
			<key>url</key>
			<string>https://github.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>506AF8B0-3D1E-4603-A7EA-BF2FC4EF42DA</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>travis</string>
			<key>text</key>
			<string>Open Travis on '{query}'</string>
			<key>url</key>
			<string>https://travis-ci.com/BackMarket/{query}/builds</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>9C445D6E-FF98-44C9-B3CA-414C2629EDDF</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jira</string>
			<key>text</key>
			<string>Search Jira for '{query}'</string>
			<key>url</key>
			<string>https://backmarket.atlassian.net/jira/software/projects/CPROJ/boards/87?text={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>A9968425-7FDB-4526-B6E3-4E73B86C0CA4</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jira</string>
			<key>text</key>
			<string>Open Jira</string>
			<key>url</key>
			<string>https://backmarket.atlassian.net/jira/software/projects/CPROJ/boards/87</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D3B0BEB8-FA9D-48DB-983A-6A4A50F77F29</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>travis</string>
			<key>text</key>
			<string>Open Travis</string>
			<key>url</key>
			<string>https://travis-ci.com/dashboard</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
