{
    ;; Keyboard shortcuts are defined in QWERTY.
    ;;   :q -> :a
    ;;   :m -> :comma
    ;;   :w -> :z
    ;;   :semicolon -> :m
    ;;   ...

    :profiles {
        :goku {
            :default true
            :delay 0
            :sim 50
        }
    }

    :templates {
        :activate "osascript -e 'tell application \"%s\" to activate'"
        :km "osascript -e 'tell application \"Keyboard Maestro Engine\" to do script \"%s\"'"
        :notion "open notion://%s"
    }

    :main [
        {
            :des "Hyper mode"
            :rules [
                [:caps_lock [:!SCOleft_control]]

                [:!!non_us_backslash [:activate "Slack"]]
                [:!!1 [:activate "Firefox"]]
                [:!!2 [:activate "Visual Studio Code"]]
                [:!!3 [:activate "iTerm"]]

                [:!!d [:km "Edit: Dotfiles"]]
                [:!!s [:km "Commit: Dotfiles"]]

                [:!!semicolon [:notion "frontoine/Meetings-56f282db881742079f8ecc964d4d95c5"]] ;; Log a new meeting (m)
                [:!!k [:notion "antoinerey/Knowledge-bcd76a09baf24ba4bf28eee356560f08"]] ;; Update the knowledge page
            ]
        }
    ]
}
