{
    ;; Keyboard shortcuts are defined in QWERTY.
    ;;   :q -> :a
    ;;   :m -> :comma
    ;;   :w -> :z
    ;;   :semicolon -> :m
    ;;   ...

    :profiles {
        :goku {
            :default true
            :delay 0
            :sim 50
        }
    }

    :applications {
        :iterm ["^com\\.googlecode\\.iterm2$"],
        :vscode ["^com\\.microsoft\\.VSCode$"]
    }

    :templates {
        :km "osascript -e 'tell application \"Keyboard Maestro Engine\" to do script \"%s\"'"
        :notion "open notion://%s"
    }

    :main [
        {
            :des "Hyper mode"
            :rules [
                [:caps_lock [:!SCOleft_control]] ;; Hyper key

                [:!!j [:down_arrow]]
                [:!!k [:up_arrow]]

                [:!Ca [] :iterm] ;; Cmd+q - Prevent quitting iTerm

                [:!!r [:!Tr] :iterm] ;; Look for previous commands
                [:!!c [:!Tc] :iterm] ;; Ctrl+C is quite common in terminals
                [:!!c [:!Tc] :vscode] ;; Ctrl+C is quite common in terminals

                ;; [:!!d [:km "Edit: Dotfiles"]]
                ;; [:!!s [:km "Commit: Dotfiles"]]

                [:!!semicolon [:notion "frontoine/Meetings-56f282db881742079f8ecc964d4d95c5"]] ;; Log a new meeting (m)
                ;; [:!!k [:notion "antoinerey/Knowledge-bcd76a09baf24ba4bf28eee356560f08"]] ;; Update the knowledge page
                ;; [:!!t [:notion "frontoine/98fe5abf95804183b660354d5cefce12"]] ;; Create a new todo entry
            ]
        }
    ]
}
